{% extends 'cocktail/base.html' %} {% block content %}
<div class="container">
  <h1 class="text-center">HOME PAGE WOHOO</h1>

  <div class="row">
    {% if request.user.is_authenticated %}
    <div class="col-8">
      <p>{{request.user}}</p>
      {% include "cocktail/_inventory_stock.html"%} {% comment %} show dashboard
      {% endcomment %}
    </div>
    {% else %}
    <div class="col-8">
      <p>{{request.user}}</p>
      {% comment %} show welcome {% endcomment %}
    </div>
    {% endif %}
    <div class="col-4">
      <h2>Cocktail of the day</h2>
      <div>
        {% include "cocktail/_cocktail_card.html" with cocktail=cocktail%}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
